<div class="dashboard-container">
  <!-- lead dashboard layout start -->
  <div class="row">
    <!-- left section start -->
    <div class="col-sm-8 col-md-8 col-lg-8 p-4">
      posts
    </div>
    <!-- left section end -->

    <!-- right section start -->
    <div class="col-sm-4 col-md-4 col-lg-4 p-4 border-left default-right-pane-height">
      featured tags
    </div>
    <!-- right section end -->
  </div>
</div>
